.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 20vh;
}

.container{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    color: #fff;
}

.banner-1{
    flex-grow: 1; /*cresce unidade */
    background-color: greenyellow;
}
.conteudo{
    flex-grow: 5; /*cresce unidade */
    background-color: blueviolet;
}
.banner-2{
    flex-grow: 1; /*cresce unidade */
    background-color: pink;
}

.rodape{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: purple;
        color: #fff;
        height: 20vh;
}